head{
    background-color: lightgray;
}
body{
    background-color: lightgrey;
    align-items:center;
}
h1{
    text-align: center;
    color: black;
    font-weight: bolder;
}
.board{
  
    text-align: center;
    margin-left: 550px;
}
.Whitecell{
    border-width: 1px;
    height:50px;
    width: 50px;
    border-style:solid;
    border-color:black;
    text-align: center;
    font-size:xx-large;
    background-color: white;
    padding-top:7px;
    
}
.Blackcell{
    border-width: 1px;
    height:50px;
    width: 50px;
    border-style:solid;
    border-color:black;
    text-align: center;
    font-size: xx-large;
    background-color: rgb(119, 127, 145);;
    padding-top:7px;
    
}
.row{
   display: flex;
    
}
.Letters{
    border: 1px;
    border-style:groove;
    border-color: lightgray;
    height:50px;
    width: 30px;
    font-weight:800;
    font-size: 20px;
    color:brown;
    text-align: center;
}
.Letters p{
    vertical-align: baseline;
}
.Numbers{
    border: 1px;
    border-style:groove;
    border-color: lightgray;
    height:30px;
    width: 50px;
    font-weight:800;
    font-size: 20px;
    color:brown;
    text-align: center;
}
.space{
    height: 30px;
    width: 30px;
    border:1px;
    border-style: groove;
    border-color: lightgray;
}
#input{
    width: 100px;
    height: 30px;

}
#enter{
    width: 70px;
    height: 40px;
    background-color: brown;
    color: white;
    margin-left: 220px;
}
#outMessage{
    width:70px;
    height:30px;
    color: red;
    margin-left: 220px;
    font-weight: bolder;
}
#Turn{
    width:100px;
    height:30px;
    color: black;
    margin-left: 135px;
    font-weight: bolder;
}
